{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}
{% block stylesheets %}
<style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <h1 style="color:#46599C">Home page</h1>
</div>
{% endblock %}
